.sidebar {
    flex: 0.2;
    width: 100%;
    margin-right: 50px;
}

.container {
    padding-left: 200px;
    width: 100%;
}

.search-bar {
    min-height: fit-content;
    background-color: rgb(33, 98, 151);
    border: none;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    color: white;
    margin-top: 15px;
    margin-bottom: 40px;
    outline: none;
    border: 1px solid rgb(33, 98, 151);
}

.link {
    text-decoration: none;
}

h5 {
    margin-bottom: 50px;
    max-width: 100%;
    color: white;
    /* text-align: left; */
}

.search-bar:focus {
    border: 1px solid rgb(43, 116, 211);
}

.logout-button {
    /* float: left; */
    border-radius: 20px;
}