* {
    text-align: center;
}
.landing {
    position: relative;
    margin-top: 35vh;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    margin-bottom: 10px;
}

.button {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    border-radius: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 35%;
}

.modal-header, .modal-content {
    background-color:rgb(33, 98, 151);
    border-radius: 20px;
    border: none;
}

.modal-title {
    color: white;
}

.modal-body {
    background-color:rgb(33, 98, 151);
    border-radius: 20px;
}

.modal-body button, .form-control{
    border-radius: 20px;
}